@import "variables.scss";

.sheet {
  width: 100%;
  height: calc(100vh - 5px - #{$header-height} - #{$toolbar-height} - #{$functionbar-height} - #{$footer-height});
  min-height: $min-body-height - $header-height - $toolbar-height - $functionbar-height - $footer-height;
  overflow: auto;
  position: relative;
  table {
    border-collapse: collapse;
    cursor: cell;
  }
  &:focus {
    outline: none;
  }
  .table-header-wrapper {
    position: sticky;
    &.row {
      left: 0;
      z-index:6;
    }
    &.col {
      top: 0;
      z-index: 7;
    }
  }
  .table-header {
    text-align: center;
    background-color: $main-bg-color;
    &.row-header {
      .active {
        background:$selected-cell-color;
        border-right: 1px solid $active-color !important;
      }
    }
    &.column-header {
      .active {
        background:$selected-cell-color;
        border-bottom: 1px solid $active-color !important;
      }
    }
  }
  
  .cell-adjuster-wrapper {
    position: absolute;
    left: 0;
    top: 0;
  }
  .cell-adjuster-line {
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    z-index: 123456789;
    &.row {
      width: calc(100% + #{$base-cell-width});
      height: 1px;
      left: -($base-cell-width);
    }
    &.col {
      width: 1px;
      height: calc(100% + #{$base-cell-height});
      top: -($base-cell-height)
    }
  }
  .cell-adjuster {
    position: absolute;
    z-index: 9;
    &.row {
      left:0;
      width: $base-cell-width;
      
    }
    &.col {
      top: 0;
      height: $base-cell-height;
      
    }
    
    > .border {
      position: absolute;
      display: inline-block;
      background: transparent;
      z-index: 12345678;
      &.row {
        height: $cell-adjuster-border-thickness;
        width: $base-cell-width; 
        cursor:row-resize;
      }
      &.col {
        height: $base-cell-height;
        width: $cell-adjuster-border-thickness;
        cursor: col-resize;
      }
    }
  }
  .sheet-main {
    position: absolute;
    display: flex;
    flex-direction: row;
  }
  .sheet-table {
    table-layout: fixed;
  }
  .select-all-btn {
    position: sticky;
    top: 0;
    left: 0;
    background-color: lightgrey;
  }
  .select-box {
    position: absolute;
    z-index:5;
    // background-color: white;
  }
  .select-area {
    border: 1px solid $active-color;
    position: absolute;
    background-color: $selected-cell-color;
    z-index: 3;
    // TODO: 관련해서 정리하기~
    pointer-events: none;
  }
  .copy-area {
    // border: 2px dashed black;
    position: absolute;
    z-index: 4;
    pointer-events: none;
    background-image: linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(0deg, black 50%, transparent 50%), linear-gradient(0deg, black 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
    background-position: left top, right bottom, left bottom, right   top;
    animation: border-dance 0.5s infinite linear;
  }
  .context-menu {
    position: fixed;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    background-color: white;
    text-align: left;
    margin: 0;
    z-index: 1000;
  }
}

@keyframes border-dance {
  0% {
    background-position: left top, right bottom, left bottom, right   top;
  }
  100% {
    background-position: left 15px top, right 15px bottom , left bottom 15px , right   top 15px;
  }
}