$main-bg-color: #F5F5F5;
$border: 1px solid #dadce0;
$header-height: 70px;
$toolbar-height: 100px;
$functionbar-height: 40px;
$footer-height: 46px;
$min-body-height: 600px;
$base-cell-width: 50px;
$base-cell-height: 28px;
$cell-adjuster-border-thickness: 20px;
// $selected-cell-color: rgba(211,211,211,0.8);
$selected-cell-color: rgba(0,0,0,0.2);
$active-color: rgb(22, 119, 255);