$main-bg-color: #F5F5F5;
$border: 1px solid #dadce0;
$header-height: 70px;
$toolbar-height: 100px;
$functionbar-height: 40px;
$footer-height: 46px;
$min-body-height: 600px;
$base-cell-width: 50px;
$base-cell-height: 28px;
// $selected-cell-color: rgba(211,211,211,0.8);
$selected-cell-color: rgba(0,0,0,0.2);
$active-color: rgb(22, 119, 255);

@keyframes border-dance {
  0% {
    background-position: left top, right bottom, left bottom, right   top;
  }
  100% {
    background-position: left 15px top, right 15px bottom , left bottom 15px , right   top 15px;
  }
}

*{
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  ::selection {
    background-color: inherit;
    color: inherit;
  }
}

input {
  &::selection {
    background-color: $active-color !important;
    color: white !important;
  }
}

body {
  margin: 0;
  width: 100vw;
  min-width: 800px;
  height: 100vh;
  min-height: $min-body-height;
}

.header {
  border-bottom: $border;
  background-color: $main-bg-color;
  height: $header-height;
}

.titlebar {
  border-bottom: $border;
}

.toolbar {
  height: $toolbar-height;
  padding-top: 4px;
  border-bottom: $border;
  background-color: #F5F5F5;
}

.toolbox {
  border-right: $border;
  padding: 0 8px;
  .button-active {
    color:$active-color;
    border: 1px solid $active-color;
  }
  .color-box {
    font-size: 16px;
  }
}

.style-picker {
  background-color: white;
  border-radius: 8px;
  padding: 4px 8px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 16px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px -4px, rgba(0, 0, 0, 0.05) 0px 9px 28px 8px; 
  display: flex;
  .example-cell {
    padding: 8px;
    margin: 4px;
    height: 28px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 0px 5px #444;
    }
  }
  .example-table {
    margin: 4px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 0px 5px #444;
    }
  }
  .example-table-row {
    display: flex;
    flex-direction: row;
  }
  .example-table-cell {
    width: 30px;
    height: 18px;
    text-align: center;
    line-height: 18px;
  }
}

.functionbar {
  padding: 4px 0;
  border-bottom: $border;
  background-color: $main-bg-color; 
  height: $functionbar-height;
}

.sheet {
  width: 100%;
  height: calc(100vh - 5px - #{$header-height} - #{$toolbar-height} - #{$functionbar-height} - #{$footer-height});
  min-height: $min-body-height - $header-height - $toolbar-height - $functionbar-height - $footer-height;
  overflow: auto;
  position: relative;
  table {
    border-collapse: collapse;
    cursor: cell;
  }
  .table-header {
    text-align: center;
    background-color: $main-bg-color;
    position: sticky;
  }
  .row-header {
    left: 0;
    z-index:6;
    .active {
      background:$selected-cell-color;
      border-right: 1px solid $active-color !important;
    }
  }
  .column-header {
    top: 0;
    z-index: 7;
    .active {
      background:$selected-cell-color;
      border-bottom: 1px solid $active-color !important;
    }
  }
  .sheet-main {
    position: absolute;
    display: flex;
    flex-direction: row;
  }
  .select-all-btn {
    position: sticky;
    top: 0;
    left: 0;
    background-color: lightgrey;
  }
  .select-box {
    position: absolute;
    z-index:5;
    background-color: white;
  }
  .select-area {
    border: 1px solid $active-color;
    position: absolute;
    background-color: $selected-cell-color;
    z-index: 3;
    // TODO: 관련해서 정리하기~
    pointer-events: none;
  }
  .copy-area {
    // border: 2px dashed black;
    position: absolute;
    z-index: 4;
    pointer-events: none;
    background-image: linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(0deg, black 50%, transparent 50%), linear-gradient(0deg, black 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
    background-position: left top, right bottom, left bottom, right   top;
    animation: border-dance 0.5s infinite linear;
  }
  .context-menu {
    position: fixed;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    background-color: white;
    text-align: left;
    margin: 0;
    z-index: 1000;
  }
}

.footer {
  height: $footer-height;
}

// ant-tabs style 수정
.ant-tabs-content-holder {
  display: none;
}

.ant-tabs-nav {
  margin-top: 0 !important;
}
// 
  
// ant-number-input padding 조정
.ant-input-number-input {
  padding: 0 4px !important;
}
//
