$main-bg-color: #F5F5F5;
$border: 1px solid #dadce0;
$header-height: 70px;
$toolbar-height: 100px;
$functionbar-height: 40px;
$footer-height: 46px;
$min-body-height: 600px;
$base-cell-width: 50px;
$base-cell-height: 28px;
$selected-cell-color: rgba(211,211,211,0.4);
$active-color: rgb(22, 119, 255);

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  min-width: 760px;
  height: 100vh;
  min-height: $min-body-height;
}

.header {
  border-bottom: $border;
  background-color: $main-bg-color;
  height: $header-height;
}

.titlebar {
  border-bottom: $border;
}

.toolbar {
  height: $toolbar-height;
  padding-top: 4px;
  border-bottom: $border;
  background-color: #F5F5F5;
}

.toolbox {
  border-right: $border;
  padding: 0 8px;
  .button-active {
    color:$active-color;
    border: 1px solid $active-color;
  }
}

.functionbar {
  padding: 4px 0;
  border-bottom: $border;
  background-color: $main-bg-color; 
  height: $functionbar-height;
}

.sheet {
  width: 100%;
  height: calc(100vh - 5px - #{$header-height} - #{$toolbar-height} - #{$functionbar-height} - #{$footer-height});
  min-height: $min-body-height - $header-height - $toolbar-height - $functionbar-height - $footer-height;
  overflow: auto;
  position: relative;
  table {
    border-collapse: collapse;
    cursor: cell;
  }
  .table-header {
    text-align: center;
    background-color: $main-bg-color;
    position: sticky;
  }
  .row-header {
    left: 0;
    .active {
      background:$selected-cell-color;
      border-right: 1px solid $active-color !important;
    }
  }
  .column-header {
    top: 0;
    z-index: 2;
    .active {
      background:$selected-cell-color;
      border-bottom: 1px solid $active-color !important;
    }
  }
  .sheet-main {
    display: flex;
    flex-direction: row;
  }
  .select-all-btn {
    position: sticky;
    top: 0;
    left: 0;
    background-color: lightgrey;
  }
  .select-box {
    border: 1px solid black;
    position: absolute;
    background-color: white;
  }
  .select-area {
    position: absolute;
    background-color: $selected-cell-color;
    z-index: -1;
  }
}

.footer {
  height: $footer-height;
}

// ant-tabs style 수정
.ant-tabs-content-holder {
  display: none;
}

.ant-tabs-nav {
  margin-top: 0 !important;
}
// 
  
